.footer {
    visibility: hidden;
    grid-area: 4/1/5/5;
    width: 100%;
    height: 100%;
    background-color: $white-color;
    animation: footerVisible 0.2s ease-out 2.5s forwards;

    &__menu {
        width: 70%;
        height: 100%;
        background-color: $white-color;
    }
}
