.menu {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
}
/* Header */
.menu_lego {
    height: 80px;
    flex-wrap: wrap;
    align-items: center;

    &__li {
        padding: 10px;
        transition-duration: 400ms;
        transition-timing-function: ease-in-out;
    }
    &__li:hover {
        cursor: pointer;
        border-bottom: 2px solid $red-color;
        transform: scale(0.95);
        transition: transform 200ms ease-in-out;
    }
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        @include font-style( $font-princp, $font-weight-2, $font-size-p, 1px, $red-color );
    }
    &__link:focus {
        outline-style: none;
    }
}
/* Footer */
.menu_designs {
    height: 100%;
    border-radius: 0 50px 0 0;
    flex-direction: column;
    overflow: hidden;
    background-color: $main-color;
    transform: translateX(-100%);
    animation: menu_desing 1s ease-in-out 2.2s forwards;

    @include media (desktop-m) {
        flex-direction: row;
        align-items: flex-end;
        transform: translateY(100%);
        animation: menu_desing_desktop 0.5s ease-in-out 2.2s forwards;
    }
    &__li {
        width: 50%;
        height: 20%;
        border-radius: 0 15px 15px 0;
        position: relative;
        background-color: $blue-color;
        box-shadow: 0 0 10px $gray-color;
        transform: translateX(-180%);

        @include media (desktop-m) {
            width: 20%;
            height: 50%;
            border-radius: 15px 15px 0 0;
            transform: translateY(200px);
        }
    }
    &__li:nth-child(1)  {
        animation: li 1.5s ease-in-out 3s forwards;

        @include media (desktop-m) {
            animation: li_desktop 1.5s ease-in-out 2.5s forwards;
        }
    }
    &__li:nth-child(2)  {
        animation: li 2s ease-in-out 3s forwards;

        @include media (desktop-m) {
            animation: li_desktop 2s ease-in-out 2.5s forwards;
        }
    }
    &__li:nth-child(3)  {
        animation: li 2.5s ease-in-out 3s forwards;

        @include media (desktop-m) {
            animation: li_desktop 2.5s ease-in-out 2.5s forwards;
        }
    }
    &__li:hover &__image {
        cursor: pointer;
        transform: scale(1.1) translateX(30px);
        transition: transform 0.2s ease-in-out;

        @include media (desktop-m) {
            transform: scale(1.1) translateY(-30px);
        }
    }
    &__image {
        width: 90px;
        height: auto;
        position: absolute;
        left: 70px;
        transition: transform 0.5s ease-in-out;

        @include media (tablet-s) {
            left: 100px;
        }
        @include media (tablet-m) {
            left: 150px;
        }
        @include media (tablet-l) {
            left: 200px;
        }
        @include media (tablet-xl) {
            left: 100px;
        }
        @include media (desktop-m) {
            width: 160px;
            height: auto;
            position: absolute;
            bottom: 30px;
            left: 0;
            transition: transform 0.5s ease-in-out;
        }
        @include media (desktop-xl) {
            left: 25px;
        }
    }
    &__image:focus {
        outline-style: none;
    }
}