body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}
.page {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 48px;
    grid-template-rows: 80px repeat(2, 1fr);
}
/* Header */
.header {
    grid-area: 1/2/2/8;
    flex-direction: row;
}
.header__logo {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    animation: logo 2s ease-in-out 1.5s;
}
@keyframes logo {
    0% {
        transform: scale(1) translateX(-400px);
    }
    80% {
        transform: scale(1.2) rotateZ(20deg);
    }
    90% {
        transform: scale(1.1) rotateZ(-20deg);
    }
    100% {
        transform: scale(1.0) rotateZ(0);
        transform: translateX(0);
    }
}
/* Main */
.main {
    grid-area: 2/2/3/8;
    padding: 50px 16px;
}
.article__subt {
    font-size: var(--font-size-h);
}
.article__title  {
    font-size: var(--font-size-xxl);
}
/* Aside */
.aside {
    grid-area: 1/8/4/13;

}
.aside__back {
    border-radius: 0;
}
/* Footer */
.footer {
    grid-area: 3/1/4/8;
}
.footer__menu {
    width: 100%;
    height: 100%;
}
.menu_designs {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0 50px 0 0;
    list-style: none;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    transform: translateY(100%);
    animation: footer 0.5s ease-in-out 2.2s forwards;
}
@keyframes footer {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0px);
    }
}
.menu_designs__li {
    width: 20%;
    height: 50%;
    border-radius: 15px 15px 0 0;
    position: relative;
    transform: translateY(200px);
}
.menu_designs__li:nth-child(1)  {
    animation: li_desktop 1.5s ease-in-out 2.5s forwards;
}
.menu_designs__li:nth-child(2)  {
    animation: li_desktop 2s ease-in-out 2.5s forwards;
}
.menu_designs__li:nth-child(3)  {
    animation: li_desktop 2.5s ease-in-out 2.5s forwards;
}
@keyframes li_desktop {
    0% {
        transform: translateY(180%);
    }
    100% {
        transform: translateY(0);
    }
}
.menu_designs__image {
    width: 160px;
    height: auto;
    position: absolute;
    bottom: 30px;
    left: 0;
    transition: transform 0.5s ease-in-out;
}
.menu_designs__li:hover .menu_designs__image {
    transform: scale(1.1) translateY(-30px);
    transition: transform 0.2s ease-in-out;
}
/* Modal */
.modal {
    grid-area: 1/1/5/13;
    height: 100%;
    width: 100%;
}
.modal__container {
    width: 400px;
}
/* Ultra Wide */
@media screen and (min-width: 1440px) {
    .menu_designs__image {
        left: 25px;
    }
}